

/* 日付別リスト */
.attendance-list {
    width: 70%;
    text-align: center;
    @media screen and (max-width: 959px) {
            width:80%;
        }
    @media screen and (max-width: 480px) {
            width: 100%;
            margin: 1.5rem;
        }
}

.attendance-list__inner {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;
    padding-top: 3rem;
    font-size: 1.2em;
}

.attendance-list__inner th{
    border-top: solid 1px #909090;
    white-space: nowrap
}

.attendance-list__row {
    height: 6rem;
}

.attendance-list__header {
    height: 6rem;
    text-align: left;
    font-size: 1.8em;
}

.attendance-list__header:first-of-type,
.attendance-list__item:first-of-type {
    padding-left: 1rem;
}

.attendance-list__item {
    border-top: solid 1px #909090;
    text-align: left;
    font-size: 1.8em;
}


/* 日付横のボタン */
.attendance-date {
    display: flex;
    justify-content: center;
    align-items: center;
}
.attendance-date__btn {
    background-color: #fff;
    color: #214BE0;
    border: 1px solid #214BE0;
    height: 3rem;
    width: 4.2rem;
    margin: 0 1rem;
    font-size: 2.4em;
}

/* ページネーション */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 3rem;
    font-size: 1.2em;
}

.pagination li {
    padding: 1rem 1.8rem;
}

.pagination li:not(.active) {
    background-color: #FFF;
}

.pagination li:not(:last-child) {
    border-right: none;
    margin-right: 0.3rem;
}

.pagination a {
    color: #214BE0;
    text-decoration: none;
}

.active {
    background-color: #214BE0;
    color: #FFF;
}

.pagination li:hover {
    opacity: 0.8;
    cursor: pointer;
}