

/* 日付別リスト */
.attendance-list {
    width: 70%;
    text-align: center;
    @media screen and (max-width: 959px) {
            width:80%;
        }
    @media screen and (max-width: 480px) {
            width: 100%;
            margin: 15px;
        }
}

.attendance-list__inner {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;
    padding-top: 30px;
}

.attendance-list__inner th{
    border-top: solid 1px #909090;
}

.attendance-list__row {
    height: 60px;
}

.attendance-list__header {
    height: 60px;
    text-align: left;
    padding-right: 20px;
}

.attendance-list__header:first-of-type,
.attendance-list__item:first-of-type {
    padding-left: 50px;
    @media screen and (max-width: 959px) {
            padding-left: 30px;
        }
    @media screen and (max-width: 480px) {
            padding-left: 15px;
        }
}

.attendance-list__item {
    border-top: solid 1px #909090;
    padding-right: 55px;
    text-align: left;
    @media screen and (max-width: 959px) {
            padding-right: 30px;
        }
    @media screen and (max-width: 480px) {
            padding-right: 15px;
        }
}

.attendance-list__item:last-of-type {
    padding-right: 0;
}

/* 日付横のボタン */
.attendance-date {
    display: flex;
    justify-content: center;
    align-items: center;
}
.attendance-date__btn {
    background-color: #fff;
    color: #214BE0;
    border: 1px solid #214BE0;
    height: 30px;
    width: 45px;
}

/* ページネーション */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 30px;
}

.pagination li {
    padding: 10px 18px;
}

.pagination li:not(.active) {
    background-color: #FFF;
}

.pagination li:not(:last-child) {
    border-right: none;
    margin-right: 3px;
}

.pagination a {
    color: #214BE0;
    text-decoration: none;
}

.active {
    background-color: #214BE0;
    color: #FFF;
}

.pagination li:hover {
    opacity: 0.8;
    cursor: pointer;
}