html,
body {
    height: 100%;
    margin: 0;
    font-family:
        Helvetica Neue,
        Arial,
        Hiragino Sans,
        Hiragino Kaku Gothic ProN,
        BIZ UDPGothic,
        Meiryo,
        sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* ヘッダー */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 20px 40px;
    background-color: #fff;
    width: 100%;
}

.header__heading {
    font-weight: normal;
    font-size: 32px;
}

.header__link {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.header__link--item {
    padding-left: 25px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.header__link--item:hover {
    opacity: 0.8;
}

a[disabled] {
    pointer-events: none;
    opacity: 0.5;
}

/* コンテンツ */
.content {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    background-color: #F2F2F2;
}

.content__heading {
    font-size: 24px;
    padding: 15px;
}

/* ボタン */
.btn {
    display: block;
    padding: 8px 32px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #214BE0;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

/* フッター */
.footer {
    text-align: center;
    height: 100px;
    font-size: 20px;
    padding: 15px;
}