html,
body {
    height: 100vh;
    margin: 0;
    font-family:
        Helvetica Neue,
        Arial,
        Hiragino Sans,
        Hiragino Kaku Gothic ProN,
        BIZ UDPGothic,
        Meiryo,
        sans-serif;
    font-size: 90%;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* ヘッダー */
.header {
    background-color: #fff;
    width: 100vw;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 1.5rem 0;
    width: 90%;
}

.header__heading {
    font-weight: normal;
    font-size: 3.2em;
}

.header__link {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.header__link--item {
    padding-left: 2.5rem;
    color: #000;
    font-size: 1.8em;
    text-decoration: none;
    font-weight: bold;
}

.header__link--item:hover {
    opacity: 0.8;
}

a[disabled] {
    pointer-events: none;
    opacity: 0.5;
}

/* メッセージ */
.attendance__alert {
    display: block;
    justify-self: start;
}

.attendance__alert--success {
    padding: 1rem 4rem;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
    font-size: 1.4em;
}

.attendance__alert--error {
    padding: 1rem 4rem;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
    font-size: 1.4em;
}

/* コンテンツ */
.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #F2F2F2;
    flex-grow: 1;
}

.content__heading {
    font-size: 2.4em;
    white-space: nowrap;
}

/* ボタン */
.btn {
    display: block;
    padding: 0.8rem 3.2rem;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #214BE0;
    color: #FFF;
    font-size: 1.6em;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

/* フッター */
.footer {
    text-align: center;
    font-size: 2em;
    padding: 1.5rem;
}

/* レスポンシブデザイン */
@media screen and (max-width: 959px) {
    html {
        font-size: calc(100vw / 66);
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: calc(100vw / 33);
    }
    .header__link {
        display: none;
    }
    .header__link--buttons {
        display: flex;
        justify-content: space-between;
    }
    .header__link--btn {
        padding-left: 2.5rem;
    }

}